In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt

from scipy.stats import norm
import seaborn as sns

In [2]:
con_rate_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/conversion_data.csv')

In [3]:
con_rate_df.head(10)

  country  age  new_user  source  total_pages_visited  converted
0      UK   25         1     Ads                    1          0
1      US   23         1     Seo                    5          0
2      US   28         1     Seo                    4          0
3   China   39         1     Seo                    5          0
4      US   30         1     Seo                    6          0
5      US   31         0     Seo                    1          0
6   China   27         1     Seo                    4          0
7      US   23         0     Ads                    4          0
8      UK   29         0  Direct                    4          0
9      US   25         0     Ads                    2          0

In [4]:
con_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316200 entries, 0 to 316199
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   country              316200 non-null  object
 1   age                  316200 non-null  int64
 2   new_user             316200 non-null  int64
 3   source               316200 non-null  object
 4   total_pages_visited  316200 non-null  int64
 5   converted            316200 non-null  int64
dtypes: int64(4), object(2)
memory usage: 14.5+ MB