In [3]:
import numpy as np
import pandas as pd

In [5]:
customer_Df = pd.DataFrame({
    
    'Date':['2015-08-24 01:10:24', '2015-08-24 01:15:32', '2015-09-08 12:08:03'],
    'Customer':['A','B','A'],
    'Data Center':['X','Y','W'],
    'Duration':['125','15000','225']
})
customer_Df

                  Date Customer Data Center Duration
0  2015-08-24 01:10:24        A           X      125
1  2015-08-24 01:15:32        B           Y    15000
2  2015-09-08 12:08:03        A           W      225

In [7]:
customer_Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3 non-null      object
 1   Customer     3 non-null      object
 2   Data Center  3 non-null      object
 3   Duration     3 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [8]:
customer_Df.describe()

                       Date Customer Data Center Duration
count                     3        3           3        3
unique                    3        2           3        3
top     2015-09-08 12:08:03        A           X      225
freq                      1        2           1        1