In [1]:
import pandas as pd
import sklearn as sk
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

import os

In [8]:
fruits_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/fruits_new.csv')

In [9]:
fruits_df.head()

     name  age   type                                             fruits
0   tammy    6  Fruit          ["banana", "mango","orange","watermelon"]
1   bonny    8  Fruit                         ["apple", "pear", "peach"]
2   helga    8  non-f                                               [""]
3     tom   10  Fruit  ["banana","maracuja","watermelon","apple","pin...
4  jerome    7  non-f             ["strawberry","raspberry","blueberry"]

In [10]:
fruits_df= fruits_df[fruits_df['type']!='non-f']

In [11]:
fruits_df.head()

    name  age   type                                             fruits
0  tammy    6  Fruit          ["banana", "mango","orange","watermelon"]
1  bonny    8  Fruit                         ["apple", "pear", "peach"]
3    tom   10  Fruit  ["banana","maracuja","watermelon","apple","pin...
5   hans    9  Fruit     ["blueberry","watermelon","apple","raspberry"]
6   lisa   10  Fruit                   ["mango", "pineapple", "orange"]

In [ ]:
def filter(text)
    for i in text:
        if i != "apple":
            text.append(i)
    return text
filter(text)

In [14]:
# fruits_df = fruits_df['fruits'].apply(lambda x:filter(x))
# fruits_df.head()
fruits_df[~fruits_df['fruits'].str.contains('apple')]

    name  age   type                                     fruits
0  tammy    6  Fruit  ["banana", "mango","orange","watermelon"]