# Different ways of creating dataframe

In [11]:
import pandas as pd

In [12]:
#read the csv file
df = pd.read_csv('/Users/vibhutivadje/Documents/Git_Repos/Python_for_Data_Analysis/Pandas/Datasets/nyc_weather.csv')
#create a dataframe
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277

In [7]:
#create dataframe from excel file
x_df = pd.read_excel('/Users/vibhutivadje/Documents/Git_Repos/Python_for_Data_Analysis/Pandas/Datasets/weather_data.xlsx','Sheet1')
x_df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [10]:
#create dataframe using tuple
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
weather_data_df = pd.DataFrame(weather_data, columns =["day", "temperature", "windspeed","event"])
weather_data_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow