In [2]:
import pandas as pd
import sklearn as sk
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

import os

In [22]:
Alcohol_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/test2.txt')
Alcohol_df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [23]:
print('\nShape of the dataframe: ',Alcohol_df.shape)
print('\nNumber of rows: ',Alcohol_df.shape[0])
print('\nNumber of column: ',Alcohol_df.shape[1])

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

In [24]:
print("\nExtract Column Names:")
print(Alcohol_df.columns)

Extract Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [25]:
Alcohol_df.iloc[:2,:2]

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [27]:
print("\nSelect random number of rows:")
print(Alcohol_df.sample(5))

Select random number of rows:
    Year WHO region              Country Beverage Types  Display Value
39  1987     Africa         Burkina Faso        Spirits           0.01
8   1986   Americas  Antigua and Barbuda        Spirits           1.55
7   1985     Africa               Angola        Spirits           0.39
23  1984     Europe               Turkey           Beer           0.44
82  1987     Europe              Ireland        Spirits           2.25

In [28]:
print("\nSelect fraction of randome rows:")
print(Alcohol_df.sample(frac=0.02))

Select fraction of randome rows:
    Year       WHO region                                Country  \
99  1985  South-East Asia  Democratic People's Republic of Korea
6   1987           Africa                              Mauritius

   Beverage Types  Display Value
99           Wine           0.00
6            Wine           0.13