In [2]:
import pandas as pd
import sklearn as sk
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

import os

In [50]:
Alcohol_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/test2.txt')
Alcohol_df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [51]:
print('\nShape of the dataframe: ',Alcohol_df.shape)
print('\nNumber of rows: ',Alcohol_df.shape[0])
print('\nNumber of column: ',Alcohol_df.shape[1])

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

In [52]:
print("\nExtract Column Names:")
print(Alcohol_df.columns)

Extract Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [53]:
Alcohol_df.iloc[:2,:2]

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [54]:
print("\nSelect random number of rows:")
print(Alcohol_df.sample(5))

Select random number of rows:
    Year             WHO region                                Country  \
99  1985        South-East Asia  Democratic People's Republic of Korea
5   1987               Americas                              Guatemala
87  1989  Eastern Mediterranean                                   Iraq
49  1986                 Europe                                  Malta
3   1986               Americas                               Colombia

   Beverage Types  Display Value
99           Wine           0.00
5           Other           0.00
87           Wine           0.01
49           Wine           1.49
3            Beer           4.27

In [55]:
print("\nSelect fraction of randome rows:")
print(Alcohol_df.sample(frac=0.02))

Select fraction of randome rows:
    Year WHO region     Country Beverage Types  Display Value
62  1987   Americas    Suriname          Other            0.0
33  1985     Africa  Mauritania          Other            0.0

Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [56]:
Alcohol_df.isnull().sum()

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64

In [57]:
print("\nDrop Missing Values:")
Alcohol_df.dropna()

Drop Missing Values:

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [58]:
#replacing space in column with '_'
Alcohol_df.columns = Alcohol_df.columns.str.replace(' ', '_')
Alcohol_df.head(5)

   Year       WHO_region                Country Beverage_Types  Display_Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [59]:
Alcohol_df.WHO_region.unique()

array(['Western Pacific', 'Americas', 'Africa', 'Eastern Mediterranean',
       'Europe', 'South-East Asia'], dtype=object)

In [60]:
print("\nAfter removing the duplicates of WHO region column:")
print(Alcohol_df.drop_duplicates('WHO_region'))

After removing the duplicates of WHO region column:
    Year             WHO_region       Country Beverage_Types  Display_Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [61]:
print("\nThe world alcohol consumption details in the year 1985:")
Alcohol_df[Alcohol_df['Year']==1985].head(10)

The world alcohol consumption details in the year 1985:

,Year,WHO_region,Country,Beverage_Types,Display_Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
7,1985,Africa,Angola,Spirits,0.39
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
24,1985,Africa,Comoros,Other,NaN
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
33,1985,Africa,Mauritania,Other,0.00
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
44,1985,Europe,Lithuania,Other,NaN
50,1985,Europe,Switzerland,Other,0.30

In [62]:
print("\nThe world alcohol consumption details in the year 1989:")
Alcohol_df[Alcohol_df['Year']==1989].head(10)

The world alcohol consumption details in the year 1989:

,Year,WHO_region,Country,Beverage_Types,Display_Value
11,1989,Americas,Guatemala,Beer,0.62
17,1989,Africa,Seychelles,Beer,2.23
21,1989,Americas,Costa Rica,Spirits,4.51
32,1989,Africa,Mauritius,Beer,1.60
45,1989,Africa,Zimbabwe,Beer,0.19
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
65,1989,Eastern Mediterranean,Somalia,Beer,0.00

Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [63]:
print("\nThe world alcohol consumption by Americas details in the year 1985:")
Alcohol_df_trunc = Alcohol_df[(Alcohol_df['Year']==1985) & (Alcohol_df['WHO_region']=='Americas')]
Alcohol_df_trunc.head(10)

The world alcohol consumption by Americas details in the year 1985:

    Year WHO_region                Country Beverage_Types  Display_Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.

In [66]:
Alcohol_df[(Alcohol_df['Year']==1986) & 
           (Alcohol_df['WHO_region']== 'Western Pacific') &
           (Alcohol_df['Country']=='VietNam')]

Empty DataFrame
Columns: [Year, WHO_region, Country, Beverage_Types, Display_Value]
Index: []

Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [69]:
Alcohol_df[(Alcohol_df['Year']==1986) |(Alcohol_df['Year']==1989)&
           (Alcohol_df['WHO_region']== 'Americas') |
           (Alcohol_df['WHO_region']=='Europe')].head(10)

    Year       WHO_region              Country Beverage_Types  Display_Value
0   1986  Western Pacific             Viet Nam           Wine           0.00
1   1986         Americas              Uruguay          Other           0.50
3   1986         Americas             Colombia           Beer           4.27
8   1986         Americas  Antigua and Barbuda        Spirits           1.55
11  1989         Americas            Guatemala           Beer           0.62
18  1984           Europe               Norway        Spirits           1.62
20  1986  South-East Asia              Myanmar           Wine           0.00
21  1989         Americas           Costa Rica        Spirits           4.51
22  1984           Europe              Romania        Spirits           2.67
23  1984           Europe               Turkey           Beer           0.44

Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [70]:
Alcohol_df[(Alcohol_df['Year']==1986) |(Alcohol_df['Year']==1989)&
           (Alcohol_df['WHO_region']== 'Americas') | (Alcohol_df['WHO_region']=='Europe')][['WHO_region','Country','Beverage_Types']].head(10)

         WHO_region              Country Beverage_Types
0   Western Pacific             Viet Nam           Wine
1          Americas              Uruguay          Other
3          Americas             Colombia           Beer
8          Americas  Antigua and Barbuda        Spirits
11         Americas            Guatemala           Beer
18           Europe               Norway        Spirits
20  South-East Asia              Myanmar           Wine
21         Americas           Costa Rica        Spirits
22           Europe              Romania        Spirits
23           Europe               Turkey           Beer