In [11]:
import pandas as pd
import sklearn as sk
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

import os

In [12]:
Alcohol_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/test2.txt')
Alcohol_df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [13]:
print('\nShape of the dataframe: ',Alcohol_df.shape)
print('\nNumber of rows: ',Alcohol_df.shape[0])
print('\nNumber of column: ',Alcohol_df.shape[1])

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

In [14]:
print("\nExtract Column Names:")
print(Alcohol_df.columns)

Extract Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [15]:
Alcohol_df.iloc[:2,:2]

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [16]:
print("\nSelect random number of rows:")
print(Alcohol_df.sample(5))

Select random number of rows:
    Year             WHO region            Country Beverage Types  \
75  1989  Eastern Mediterranean        Afghanistan          Other
77  1985                 Africa           Cameroon        Spirits
43  1984        Western Pacific              China           Wine
93  1987                 Africa         Madagascar          Other
98  1984                 Africa  Equatorial Guinea           Wine

    Display Value
75           0.00
77           0.01
43           0.03
93            NaN
98           0.00

In [17]:
print("\nSelect fraction of randome rows:")
print(Alcohol_df.sample(frac=0.02))

Select fraction of randome rows:
    Year             WHO region    Country Beverage Types  Display Value
25  1984  Eastern Mediterranean    Tunisia          Other            0.0
84  1986        South-East Asia  Sri Lanka          Other            0.0

Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [18]:
Alcohol_df.isnull().sum()

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64

In [19]:
print("\nDrop Missing Values:")
Alcohol_df.dropna()

Drop Missing Values:

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [20]:
#replacing space in column with '_'
Alcohol_df.columns = Alcohol_df.columns.str.replace(' ', '_')
Alcohol_df.head(5)

   Year       WHO_region                Country Beverage_Types  Display_Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [21]:
Alcohol_df.WHO_region.unique()

array(['Western Pacific', 'Americas', 'Africa', 'Eastern Mediterranean',
       'Europe', 'South-East Asia'], dtype=object)

In [22]:
print("\nAfter removing the duplicates of WHO region column:")
print(Alcohol_df.drop_duplicates('WHO_region'))

After removing the duplicates of WHO region column:
    Year             WHO_region       Country Beverage_Types  Display_Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [23]:
print("\nThe world alcohol consumption details in the year 1985:")
Alcohol_df[Alcohol_df['Year']==1985].head(10)

The world alcohol consumption details in the year 1985:

,Year,WHO_region,Country,Beverage_Types,Display_Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
7,1985,Africa,Angola,Spirits,0.39
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
24,1985,Africa,Comoros,Other,NaN
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
33,1985,Africa,Mauritania,Other,0.00
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
44,1985,Europe,Lithuania,Other,NaN
50,1985,Europe,Switzerland,Other,0.30

In [62]:
print("\nThe world alcohol consumption details in the year 1989:")
Alcohol_df[Alcohol_df['Year']==1989].head(10)

The world alcohol consumption details in the year 1989:

,Year,WHO_region,Country,Beverage_Types,Display_Value
11,1989,Americas,Guatemala,Beer,0.62
17,1989,Africa,Seychelles,Beer,2.23
21,1989,Americas,Costa Rica,Spirits,4.51
32,1989,Africa,Mauritius,Beer,1.60
45,1989,Africa,Zimbabwe,Beer,0.19
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
65,1989,Eastern Mediterranean,Somalia,Beer,0.00

Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [24]:
print("\nThe world alcohol consumption by Americas details in the year 1985:")
Alcohol_df_trunc = Alcohol_df[(Alcohol_df['Year']==1985) & (Alcohol_df['WHO_region']=='Americas')]
Alcohol_df_trunc.head(10)

The world alcohol consumption by Americas details in the year 1985:

    Year WHO_region                Country Beverage_Types  Display_Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.

In [66]:
Alcohol_df[(Alcohol_df['Year']==1986) & 
           (Alcohol_df['WHO_region']== 'Western Pacific') &
           (Alcohol_df['Country']=='VietNam')]

Empty DataFrame
Columns: [Year, WHO_region, Country, Beverage_Types, Display_Value]
Index: []

Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [69]:
Alcohol_df[(Alcohol_df['Year']==1986) |(Alcohol_df['Year']==1989)&
           (Alcohol_df['WHO_region']== 'Americas') |
           (Alcohol_df['WHO_region']=='Europe')].head(10)

    Year       WHO_region              Country Beverage_Types  Display_Value
0   1986  Western Pacific             Viet Nam           Wine           0.00
1   1986         Americas              Uruguay          Other           0.50
3   1986         Americas             Colombia           Beer           4.27
8   1986         Americas  Antigua and Barbuda        Spirits           1.55
11  1989         Americas            Guatemala           Beer           0.62
18  1984           Europe               Norway        Spirits           1.62
20  1986  South-East Asia              Myanmar           Wine           0.00
21  1989         Americas           Costa Rica        Spirits           4.51
22  1984           Europe              Romania        Spirits           2.67
23  1984           Europe               Turkey           Beer           0.44

Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [70]:
Alcohol_df[(Alcohol_df['Year']==1986) |(Alcohol_df['Year']==1989)&
           (Alcohol_df['WHO_region']== 'Americas') | (Alcohol_df['WHO_region']=='Europe')][['WHO_region','Country','Beverage_Types']].head(10)

         WHO_region              Country Beverage_Types
0   Western Pacific             Viet Nam           Wine
1          Americas              Uruguay          Other
3          Americas             Colombia           Beer
8          Americas  Antigua and Barbuda        Spirits
11         Americas            Guatemala           Beer
18           Europe               Norway        Spirits
20  South-East Asia              Myanmar           Wine
21         Americas           Costa Rica        Spirits
22           Europe              Romania        Spirits
23           Europe               Turkey           Beer

Write a Pandas program to find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.

In [71]:
Alcohol_df[(Alcohol_df['Display_Value']>=5)&(Alcohol_df['Beverage_Types']=='Beer')]

    Year WHO_region         Country Beverage_Types  Display_Value
41  1986     Europe  Czech Republic           Beer           6.82

Write a Pandas program to find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.

In [72]:
Alcohol_df[(Alcohol_df['Display_Value']>=4)&
           ((Alcohol_df['Beverage_Types']=='Beer')|(Alcohol_df['Beverage_Types']=='Wine')|(Alcohol_df['Beverage_Types']=='Spirits'))]

    Year WHO_region         Country Beverage_Types  Display_Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

Write a Pandas program to filter the specified columns and records by range from world alcohol consumption dataset.

In [74]:
Alcohol_df.loc[0:4,["WHO_region","Beverage_Types"]]

        WHO_region Beverage_Types
0  Western Pacific           Wine
1         Americas          Other
2           Africa           Wine
3         Americas           Beer
4         Americas           Beer

Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [76]:
Alcohol_df[Alcohol_df['WHO_region'].str.contains('Ea')].head(10)

,Year,WHO_region,Country,Beverage_Types,Display_Value
13,1984,Eastern Mediterranean,Afghanistan,Other,0.00
20,1986,South-East Asia,Myanmar,Wine,0.00
25,1984,Eastern Mediterranean,Tunisia,Other,0.00
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
38,1987,Eastern Mediterranean,Qatar,Other,0.00
52,1986,Eastern Mediterranean,Saudi Arabia,Wine,0.00
53,1984,Eastern Mediterranean,Kuwait,Beer,0.00
58,1984,Eastern Mediterranean,Somalia,Spirits,0.00
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00

Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset.

In [82]:
filter_reg_df = Alcohol_df['WHO_region'].isin(['Africa','Eastern Mediterranean','Europe'])
filter_reg_df

0     False
1     False
2      True
3     False
4     False
      ...
95     True
96     True
97    False
98     True
99    False
Name: WHO_region, Length: 100, dtype: bool

In [85]:
Alcohol_df[filter_reg_df]

    Year WHO_region            Country Beverage_Types  Display_Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
93  1987     Africa         Madagascar          Other            NaN
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[69 rows x 5 columns]

Write a Pandas program to filter those records which not appears in a given list from world alcohol consumption dataset.

In [86]:
Alcohol_df[~filter_reg_df]

,Year,WHO_region,Country,Beverage_Types,Display_Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
5,1987,Americas,Guatemala,Other,0.00
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
16,1984,Americas,Costa Rica,Wine,0.06
20,1986,South-East Asia,Myanmar,Wine,0.00
21,1989,Americas,Costa Rica,Spirits,4.51
28,1987,Western Pacific,Viet Nam,Beer,0.11
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
43,1984,Western Pacific,China,Wine,0.03
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
47,1986,Americas,Mexico,Other,0.04
48,1987,Americas,Nicaragua,Beer,0.70
54,1984,Americas,El Salvador,Spirits,1.81
55,1989,Americas,Suriname,Wine,0.04
56,1987,Western Pacific,Viet Nam,Wine,0.00
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08
62,1987,Americas,Suriname,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
84,1986,South-East Asia,Sri Lanka,Other,0.00
86,1986,Americas,Bahamas,Wine,1.83
97,1984,South-East Asia,Indonesia,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset.

,Year,WHO_region,Country,Beverage_Types,Display_Value
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
17,1989,Africa,Seychelles,Beer,2.23
18,1984,Europe,Norway,Spirits,1.62
19,1984,Africa,Kenya,Beer,1.08
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22

Write a Pandas program to find average consumption of wine per person greater than 2 in world alcohol consumption dataset.

In [90]:
Alcohol_df[(Alcohol_df['Beverage_Types']=='Wine')&(Alcohol_df['Display_Value']>2)].count()

Year              3
WHO_region        3
Country           3
Beverage_Types    3
Display_Value     3
dtype: int64

Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset.

In [91]:
#Important
Alcohol_df.filter(regex='0$', axis=0)

,Year,WHO_region,Country,Beverage_Types,Display_Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
10,1987,Africa,Botswana,Wine,0.20
20,1986,South-East Asia,Myanmar,Wine,0.00
30,1986,Africa,Sierra Leone,Other,4.48
40,1987,Europe,Austria,Spirits,1.90
50,1985,Europe,Switzerland,Other,0.30
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
70,1986,Africa,Madagascar,Spirits,1.02
80,1985,Africa,Malawi,Other,0.84
90,1989,Africa,Malawi,Wine,0.01

Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset.

In [93]:
print("\nSelect rows with Index label 0 to 9 with specific columns:")
Alcohol_df.loc[0:9,['Year','WHO_region','Country']]

Select rows with Index label 0 to 9 with specific columns:

   Year       WHO_region                Country
0  1986  Western Pacific               Viet Nam
1  1986         Americas                Uruguay
2  1985           Africa           Cte d'Ivoire
3  1986         Americas               Colombia
4  1987         Americas  Saint Kitts and Nevis
5  1987         Americas              Guatemala
6  1987           Africa              Mauritius
7  1985           Africa                 Angola
8  1986         Americas    Antigua and Barbuda
9  1984           Africa                Nigeria

Write a Pandas program to rename all and only some of the column names from world alcohol consumption dataset.

In [97]:
new_df = Alcohol_df
new_df.rename(columns={'Year':'N_Year','WHO_region':'WHO_region1'},inplace = True)
new_df.head()

,N_Year,WHO_region1,Country,Beverage_Types,Display_Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98

Write a Pandas program to find which years have all non-zero values and which years have any non-zero values from world alcohol consumption dataset.

In [98]:
print("\nFind which years have all non-zero values:")
print(Alcohol_df.loc[:,Alcohol_df.all()])

Find which years have all non-zero values:
    N_Year      WHO_region1                                Country  \
0     1986  Western Pacific                               Viet Nam
1     1986         Americas                                Uruguay
2     1985           Africa                           Cte d'Ivoire
3     1986         Americas                               Colombia
4     1987         Americas                  Saint Kitts and Nevis
..     ...              ...                                    ...
95    1984           Africa                                  Niger
96    1985           Europe                             Luxembourg
97    1984  South-East Asia                              Indonesia
98    1984           Africa                      Equatorial Guinea
99    1985  South-East Asia  Democratic People's Republic of Korea

   Beverage_Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

In [99]:
print("\nFind which years have all non-zero values:")
print(Alcohol_df.loc[:,Alcohol_df.any()])

Find which years have all non-zero values:
    N_Year      WHO_region1                                Country  \
0     1986  Western Pacific                               Viet Nam
1     1986         Americas                                Uruguay
2     1985           Africa                           Cte d'Ivoire
3     1986         Americas                               Colombia
4     1987         Americas                  Saint Kitts and Nevis
..     ...              ...                                    ...
95    1984           Africa                                  Niger
96    1985           Europe                             Luxembourg
97    1984  South-East Asia                              Indonesia
98    1984           Africa                      Equatorial Guinea
99    1985  South-East Asia  Democratic People's Republic of Korea

   Beverage_Types  Display_Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]

Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset.

In [101]:
print("\nRows and columns has a NaN:")
Alcohol_df.loc[:,Alcohol_df.isnull().any()]

Rows and columns has a NaN:

    Display_Value
0            0.00
1            0.50
2            1.62
3            4.27
4            1.98
..            ...
95           0.00
96           7.38
97           0.00
98           0.00
99           0.00

[100 rows x 1 columns]

In [103]:
print("\nDrop rows with any NaNs:")
print(Alcohol_df.dropna(how='any'))

Drop rows with any NaNs:
    N_Year      WHO_region1                                Country  \
0     1986  Western Pacific                               Viet Nam
1     1986         Americas                                Uruguay
2     1985           Africa                           Cte d'Ivoire
3     1986         Americas                               Colombia
4     1987         Americas                  Saint Kitts and Nevis
..     ...              ...                                    ...
95    1984           Africa                                  Niger
96    1985           Europe                             Luxembourg
97    1984  South-East Asia                              Indonesia
98    1984           Africa                      Equatorial Guinea
99    1985  South-East Asia  Democratic People's Republic of Korea

   Beverage_Types  Display_Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

Write a Pandas program to filter all records starting from the 'Year' column, access every other column from world alcohol consumption dataset.

In [106]:
print("\nFrom the 'Year' column, access every other column:")
print(Alcohol_df.iloc[:,0::2].head(10))

From the 'Year' column, access every other column:
   N_Year                Country  Display_Value
0    1986               Viet Nam           0.00
1    1986                Uruguay           0.50
2    1985           Cte d'Ivoire           1.62
3    1986               Colombia           4.27
4    1987  Saint Kitts and Nevis           1.98
5    1987              Guatemala           0.00
6    1987              Mauritius           0.13
7    1985                 Angola           0.39
8    1986    Antigua and Barbuda           1.55
9    1984                Nigeria           6.10

Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset

In [109]:
print("\nFrom the 'Year' column, access every other column:")
print(Alcohol_df.iloc[1::5].head(10))

From the 'Year' column, access every other column:
    N_Year            WHO_region1  \
1     1986               Americas
6     1987                 Africa
11    1989               Americas
16    1984               Americas
21    1989               Americas
26    1985                 Europe
31    1986        Western Pacific
36    1987  Eastern Mediterranean
41    1986                 Europe
46    1987               Americas

                                              Country Beverage_Types  \
1                                             Uruguay          Other
6                                           Mauritius           Wine
11                                          Guatemala           Beer
16                                         Costa Rica           Wine
21                                         Costa Rica        Spirits
26  United Kingdom of Great Britain and Northern I...           Wine
31                   Micronesia (Federated States of)           Wine
36                                              Egypt           Beer
41                                     Czech Republic           Beer
46                                Trinidad and Tobago        Spirits

    Display_Value
1            0.50
6            0.13
11           0.62
16           0.06
21           4.51
26           1.36
31           0.00
36           0.07
41           6.82
46           2.26