In [1]:

import numpy as np
import pandas as pd

# Reading and Editing Tabular Data

## 1. csv files

In [9]:
# #!cat test.csv
# !cat test.csv
# # If windows user, tryp '!type'.

In [10]:
# df=pd.read_csv('test.csv', skiprows = [1])
# df

In [11]:
# df1=pd.read_table('test.csv',sep='|')
# df1

# # Question: Why the delimiter '|' doesn't work? What is the correct delimiter?

When there is no header row...

In [13]:
# df2=pd.read_csv('test.csv',names=['col1','col2','col3','col4','col5'])
# df2

## 2. URLs

Given the url:
'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv, we find that each data value is seperated by tab. So we use sep attribute '\t'.

In [8]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv(url,sep='\t')
#chipo=pd.read_table(url,sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### <font color='red'>**Exercise:**</font>

How many rows or how many entries in this data set?

In [18]:
#Solution 1 
#shape[0], means the shape of the rows
#shape[1] means the shape of the columns
chipo.shape[0]

4622

In [19]:
#Solution 2
len(chipo.index)

4622

### <font color='red'>**Exercise:**</font>

How many columns in this DataFrame?

In [20]:
#Solution 1 
chipo.shape[1]

5

In [21]:
#Solution 2 
len(chipo.columns)

5

### <font color='red'>**Exercise:**</font>

What is the most ordered item?

Only show the order with the highest order quantity in the entire data set.

In [27]:
chipo.sort_values(by='quantity',ascending=False).iloc[0,2]

'Chips and Fresh Tomato Salsa'

## 3. Reading text files in pieces

In [28]:
short=pd.read_csv(url,sep='\t',nrows=20)
short

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [29]:
short[['item_name','quantity']]

                                item_name  quantity
0            Chips and Fresh Tomato Salsa         1
1                                    Izze         1
2                        Nantucket Nectar         1
3   Chips and Tomatillo-Green Chili Salsa         1
4                            Chicken Bowl         2
5                            Chicken Bowl         1
6                           Side of Chips         1
7                           Steak Burrito         1
8                        Steak Soft Tacos         1
9                           Steak Burrito         1
10                    Chips and Guacamole         1
11                   Chicken Crispy Tacos         1
12                     Chicken Soft Tacos         1
13                           Chicken Bowl         1
14                    Chips and Guacamole         1
15  Chips and Tomatillo-Green Chili Salsa         1
16                        Chicken Burrito         1
17                        Chicken Burrito         1
18                            Canned Soda         2
19                           Chicken Bowl         1

### <font color='red'>**Exercise:**</font>

Count the number of missing values. How many values are missing for each of the variable (column)?

In [30]:
short.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    6
item_price            0
dtype: int64

### <font color='red'>**Exercise:**</font>

Fill the value of NaN with string value '[Fresh Tomato Salsa]'.

In [31]:
short['choice_description'].fillna('[Fresh Tomato Salsa]',inplace = True)# inplace function replaces the original data frame
short

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,[Fresh Tomato Salsa],$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,[Fresh Tomato Salsa],$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,[Fresh Tomato Salsa],$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,[Fresh Tomato Salsa],$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,[Fresh Tomato Salsa],$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,[Fresh Tomato Salsa],$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

## 4. Excel files

In [14]:
result=pd.read_excel('test2.xlsx','Lecture')# Sheet name matches exactly the sheet that we want to open. 
result

FileNotFoundError: [Errno 2] No such file or directory: 'test2.xlsx'

In [33]:
new=result.sort_index(axis=1,ascending=False)
new

  message  d  c  b  a
0   hello  4  3  2  1
1   world  8  7  6  5

In [12]:
x=pd.ExcelFile('test2.xlsx')

#result=pd.read_excel('test2.xlsx','Lecture')
result=pd.read_excel(x,'Lecture')#reads only 1 sheet from data frame
result

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

### Create a new excel and write onto it

To write in a Excel file, you need firstly create an ExcelWriter, then write data to it using pandas objects' *to_excel* method.

In [35]:
writer=pd.ExcelWriter('test4.xlsx') # Create an excel called 'test4.xlsx'
result.to_excel(writer,'XYZ')
writer.save() # This command is important: without it nothing is written and saved.

In [36]:
new=pd.read_excel('test4.xlsx','XYZ')
new

   Unnamed: 0  a  b  c  d message
0           0  1  2  3  4   hello
1           1  5  6  7  8   world

## Writing Data to Text Format

Using DataFrame's *to_csv* method, you can write a DataFrame to a comma-separated csv file.

In [37]:
data=pd.read_csv('test.csv')
data

   a  b  c  d message
0  1  2  3  4   Hello
1  5  6  7  8   World

### <font color='red'>**Exercise:**</font>

Can you please add a new column called 'something', with two values ['one','two']?

In [39]:
data['something']=['one','two']
data

   a  b  c  d message something
0  1  2  3  4   Hello       one
1  5  6  7  8   World       two

### <font color='red'>**Exercise:**</font>

How do we reorder the sequence of column so that 'something' is the first column? You might need to create a new dataframe from the previous.

In [40]:
data1 = data.reindex(columns=['something','a','b','c','d','message'])
data1

  something  a  b  c  d message
0       one  1  2  3  4   Hello
1       two  5  6  7  8   World

In [41]:
# Write this dataframe to a csv file called 'test_out.csv' and display the content. 
data1.to_csv('test_out.csv')
!cat test_out.csv

,something,a,b,c,d,message
0,one,1,2,3,4,Hello
1,two,5,6,7,8,World

If you want to use other dlimiters, not just comma, use *sep=''*. Note, csv file can use other delimiter. You just need to specify it.

In [42]:
data1.to_csv('test_out.csv',sep='|')
!cat test_out.csv

|something|a|b|c|d|message
0|one|1|2|3|4|Hello
1|two|5|6|7|8|World

You may write only a subset of the columns and in an order of your choice.

In [43]:
# index=False, means the original index [0,1] no longer recorded.
data1.to_csv('test_out.csv',index=False,columns=['a','b','c'])
!cat test_out.csv

a,b,c
1,2,3
5,6,7

You may choose not to show the index and columns.

In [44]:
data1.to_csv('test_out.csv',index=False,header=False) 
#note that you can't write columns=False, which means no column will be showing.
!cat test_out.csv

one,1,2,3,4,Hello
two,5,6,7,8,World

In [45]:
new=pd.read_csv('test_out.csv')
new

   one  1  2  3  4  Hello
0  two  5  6  7  8  World

### <font color='red'>**Exercise:**</font>

Please create a dataframe with random standard normal distribution, the index is [1,2,3,4], and column is ['A','B','C']. 

Sort the dataframe based on the column of ['B'], descending order.

Then write this dataframe to an excel with the name that you want to give.

In [14]:
df = pd.DataFrame(np.random.randn(4,3),index=[1,2,3,4],columns=['A','B','C'])
df
df.sort_values(by='B',ascending=False,inplace=True)
writer = pd.ExcelWriter('Friday.xlsx')
df.to_excel(writer,'x')
writer.save()

In [15]:
df = pd.DataFrame(np.random.randn(4,3),index=[1,2,3,4],columns=['A','B','C'])
df

          A         B         C
1  0.573699  0.427615 -0.849713
2 -1.794938 -0.588854 -1.157036
3  0.212662 -0.600718  1.918017
4 -0.508137 -1.705997  0.877751