1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [16]:
import pandas as pd
import numpy as np

ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

Function to Converts a number to a list of digits

In [4]:
def tips_digit(n):
  return list(map(int, str(n)))

print(tips_digit(2468))

[2, 4, 6, 8]

2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [6]:
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [8]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [10]:
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)

Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [11]:
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)

Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [12]:
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.

In [13]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [14]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [17]:
np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [18]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64