Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [11]:
import pandas as pd

In [12]:
ds = pd.Series([2,4,6,8,10])
print("Pandas Series and its type")

Pandas Series and its type

In [13]:
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [14]:
print(type(ds))

<class 'pandas.core.series.Series'>

In [15]:
print("Convert Pandas Series to Python list")
print(ds.tolist())

Convert Pandas Series to Python list
[2, 4, 6, 8, 10]

In [16]:
print(type(ds.tolist()))

<class 'list'>

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

s1=[2, 4, 6, 8, 10], 
s2=[1, 3, 5, 7, 9]

In [20]:
ds1=pd.Series([2, 4, 6, 8, 10])
ds2=pd.Series([1, 3, 5, 7, 9])

ds3 = ds1+ds2
print("Addition of two series:")
print(ds3)

ds4 = ds1-ds2
print("subtraction of two series:")
print(ds4)

ds5 = ds1*ds2
print("subtraction of two series:")
print(ds5)

ds6 = ds1/ds2
print("subtraction of two series:")
print(ds6)

Addition of two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtraction of two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
subtraction of two series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
subtraction of two series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [22]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [25]:
s1 = pd.Series(df['col1'])
s1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [26]:
type(s1)

pandas.core.series.Series

Write a Pandas program to convert a given Series to an array.

In [27]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [28]:
print("Series to an array")
a = s1.values
print(a)
print(type(a))

Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>