# Import Libraries

In [5]:
import numpy as np
import pandas as pd

In [3]:
np.random.rand(36).reshape((6,6))

array([[0.34463565, 0.7750307 , 0.47005223, 0.85533307, 0.74777208,
        0.87644414],
       [0.03110332, 0.52008193, 0.54724648, 0.40912058, 0.310083  ,
        0.97525533],
       [0.45110899, 0.37057858, 0.57605799, 0.3601541 , 0.04889753,
        0.99103484],
       [0.35327079, 0.99324994, 0.1476207 , 0.56532186, 0.9517132 ,
        0.64709684],
       [0.5636985 , 0.16145413, 0.26367043, 0.47996197, 0.75868564,
        0.22813863],
       [0.29279871, 0.25436464, 0.04178619, 0.65439492, 0.25884794,
        0.42255535]])

In [6]:
df_obj = pd.DataFrame(np.random.rand(36).reshape((6,6)), 
                      index = ['row1','row2','row3','row4','row5','row5'],
                      columns = ['col1','col2','col3','col4','col5','col6'])
df_obj

          col1      col2      col3      col4      col5      col6
row1  0.338282  0.555686  0.358444  0.260699  0.582986  0.995394
row2  0.111849  0.907738  0.655572  0.211340  0.061307  0.487696
row3  0.570034  0.463330  0.695400  0.040782  0.568615  0.129367
row4  0.958889  0.466784  0.558949  0.151315  0.536333  0.924378
row5  0.915397  0.500834  0.787744  0.143351  0.061811  0.578931
row5  0.471154  0.509238  0.545609  0.047768  0.653411  0.160398